body {
  font-size: large;
  margin: 0;
  padding: 8px;
  background-color: '#f4f4f4';
}

.container {
  max-width: '800px';
  margin: '0 auto';
  padding: '20px';
}
.advertisement {
  background-color: '#f4f4f4';
  padding: 10px;
  margin-bottom: '20px';
  border: 1px solid black;
  border-radius: '5px';
  box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
}

.advertisement p {
  text-align: center;
}

article {
  background-color: '#fff';
  padding: '20px';
  border-radius: '5px';
  box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
}
